.todo-list {
    .todo-item {
        .checkbox {
            float: left;
        }

        h4 {
            float: left;
            margin-left: 20px;
        }

        button {
            float: right;
        }
    }
}